@import url('../../global/global.less');


.chatTextRight {
  margin: 10px 0;
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  align-items: flex-start;
  font-size: 13px;

  .topTime {
    height: 15px;
    line-height: 15px;
    margin-right: 19px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: center;
  }
}


.rightBody {
  width: 100%;
}

.rightContent {
  background-color: #1677FF;
  color: #FFFFFF;
  max-width: @cardWidth;
  margin: 0px 12px;
  border-radius: 16px 16px 4px 16px;
  padding: 10px 16px;
  overflow: hidden;
  word-wrap: break-word;
  text-align: left;
  display: inline-block;
}


.footerText {
  // margin: 0 12px;
  // font-size: 10px;
  font-size: 18px;
  width: 32px;
  height: 32px;
}